{% include 'recipes/header.html' %}

{% block styles %}
<style>
  .food-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 70px;
  }

  .card {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
  }

  @media (max-width: 768px) {
    .card {
      width: calc(50% - 20px);
    }
  }

  @media (max-width: 576px) {
    .card {
      width: calc(100% - 20px);
    }
  }
</style>
{% endblock %}

{% block content %}
<div class="food-grid">
  {% for item in food %}
  <div class="card">
    <img src="{{ item.image }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ item.title }}</h5>
      <p class="card-text">Время готовки: {{ item.time }} минут</p>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% include 'recipes/footer.html' %}
