<!doctype html>
<html lang="en">
<style>

  body {

  }


  .icon {
    width: 30px;
    height: 30px;

  }

</style>
<body>
<footer class="bg-body-tertiary text-center">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">

      <!-- Telegram -->
      <a
        data-mdb-ripple-init
        class="btn text-white btn-floating m-1"
        href="https://t.me/Boonau"
        role="button"
        ><i class="fab fa-telegram"></i
      ><img class="icon" src="https://www.svgrepo.com/show/452115/telegram.svg" alt=""></a>

      <!-- Instagram -->
      <a
        data-mdb-ripple-init
        class="btn text-white btn-floating m-1"
        href="https://www.instagram.com/dast.yyn/"
        role="button"
        ><i class="fab fa-instagram"></i
      ><img class="icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/2048px-Instagram_logo_2016.svg.png" alt=""></a>

      <!-- Github -->
      <a
        data-mdb-ripple-init
        class="btn text-white btn-floating m-1"
        href="https://github.com/dastyyn"
        role="button"
      ><i class="fab fa-github"></i
      ><img class="icon" src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" alt=""></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2023 dastyyyn
    <a class="text-body" href="#"></a>
  </div>
  <!-- Copyright -->
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>