{% include 'recipes/header.html' %}

<style>
    .container{
        margin-top: 70px;
    }

    .button-wrapper{
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
    .col-md-6{
        margin-top: 50px;
    }

</style>


<div class="container">
    <h1 class="display-4">{{ recipe_id.title }}</h1>
    <p class="lead"><em>{{ recipe_id.description }}</em></p>
    <div class="row">
        <div class="col-md-6">
            <img src="{{recipe_id.image}}" alt="{{ recipe_id.title }}" class="img-fluid">
            <div class="button-wrapper">
                <a href="/recipe_detail/{{ recipe_id.id }}/delete/" class="btn btn-danger" style="margin-right: 10px">Удалить</a>
                <a href="/recipe_detail/{{ recipe_id.id }}/update/" class="btn btn-primary">Изменить</a>
            </div>
        </div>
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item">Ингредиенты: {{ recipe_id.ingredients }}</li>
                <li class="list-group-item">Приступим к готовке: {{ recipe_id.steps }}</li>
                <li class="list-group-item">Примерная стоимость: {{ recipe_id.price }} сом</li>
                <li class="list-group-item">Время готовки: {{ recipe_id.time_cook }} мин</li>
                <li class="list-group-item">Сложность готовки: {{ recipe_id.difficulty }}</li>
                <li class="list-group-item">Дата добавления: {{ recipe_id.created_at }}</li>
                <li class="list-group-item">Дата обновления: {{ recipe_id.updated_at }}</li>
            </ul>
        </div>
    </div>
</div>

{% include 'recipes/footer.html' %}

